In [2]:
import pandas as pd
import numpy as np

In [3]:
autos = pd.read_csv("autos.csv", encoding = "Latin-1")

In [4]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [5]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [6]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [7]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [8]:
new_names = {
    "yearOfRegistration": "registration_year",
    "monthOfRegistration": "registration_month",
    "notRepairedDamage": "unrepaired_damage",
    "dateCreated": "ad_created",
    "dateCrawled": "date_crawled",
    "offerType": "offer_type",
    "name": "name",
    "seller": "seller",
    "price": "price",
    "abtest": "abtest",
    "vehicleType": "vehicle_type",
    "gearbox": "gear_box",
    "powerPS": "power_PS",
    "model": "model",
    "odometer": "odometer",
    "fuelType": "fuel_type",
    "brand": "brand",
    "nrOfPictures": "nr_of_pictures",
    "postalCode": "postal_code",
    "lastSeen": "last_seen"
}
autos.rename(new_names, inplace = True, axis = 1)

In [9]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gear_box', 'power_PS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [11]:
autos.describe(include = "all")

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [12]:
autos["nr_of_pictures"].value_counts()

0    50000
Name: nr_of_pictures, dtype: int64

In [13]:
autos["seller"].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [49]:
autos["gear_box"].value_counts()

manuell      36993
automatik    10327
Name: gear_box, dtype: int64

In [14]:
autos["offer_type"].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

In [50]:
autos["unrepaired_damage"].value_counts()

nein    35232
ja       4939
Name: unrepaired_damage, dtype: int64

In [15]:
autos["price"].dtype

dtype('O')

In [16]:
autos["odometer"].dtype

dtype('O')

In [17]:
autos["postal_code"].dtype

dtype('int64')

In [18]:
price_before = autos["price"].head()
price_before

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
Name: price, dtype: object

In [19]:
autos["price"] = autos["price"].str.replace("$", "", regex = False)
autos["price"] = autos["price"].str.replace(",", "", regex = False)

In [20]:
price_after = autos["price"].head()
price_after

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: object

In [21]:
autos["price"] = autos["price"].astype(int)

In [22]:
autos["price"].dtype

dtype('int32')

In [23]:
autos["odometer"].head()

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
Name: odometer, dtype: object

In [38]:
autos["odometer"] = autos["odometer"].str.replace("km", "", regex = False)
autos["odometer"] = autos["odometer"].str.replace(",", "", regex = False)

In [39]:
autos["odometer"].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer, dtype: object

In [40]:
autos["odometer"] = autos["odometer"].astype(int)

In [41]:
autos["odometer"].dtype

dtype('int32')

In [42]:
autos["odometer"].describe()

count     50000.000000
mean     125732.700000
std       40042.211706
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer, dtype: float64

In [43]:
autos["price"].rename()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [47]:
autos.rename({"price": "price_$", "odometer": "odometer_km"}, axis = 1, inplace = True)

In [51]:
autos.drop(["nr_of_pictures", "seller", "offer_type"], inplace = True, axis = 1)

In [52]:
autos.head()

,date_crawled,name,price_$,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50

In [54]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        50000 non-null  object
 1   name                50000 non-null  object
 2   price_$             50000 non-null  int32
 3   abtest              50000 non-null  object
 4   vehicle_type        44905 non-null  object
 5   registration_year   50000 non-null  int64
 6   gear_box            47320 non-null  object
 7   power_PS            50000 non-null  int64
 8   model               47242 non-null  object
 9   odometer_km         50000 non-null  int32
 10  registration_month  50000 non-null  int64
 11  fuel_type           45518 non-null  object
 12  brand               50000 non-null  object
 13  unrepaired_damage   40171 non-null  object
 14  ad_created          50000 non-null  object
 15  postal_code         50000 non-null  int64
 16  last_seen           50000 non-null  object
dtypes: int32(2), int64(4), object(11)
memory usage: 6.1+ MB

In [58]:
autos["price_$"].unique().shape

(2357,)

In [59]:
autos["price_$"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price_$, dtype: float64

In [67]:
autos["price_$"].value_counts(ascending = True).head()

3710     1
378      1
898      1
20980    1
22199    1
Name: price_$, dtype: int64

In [90]:
autos["price_$"].quantile(0.1)

500.0

In [79]:
autos["price_$"].sort_values(ascending = False)

39705    99999999
42221    27322222
27371    12345678
39377    12345678
47598    12345678
           ...
43510           0
33620           0
39231           0
48060           0
38354           0
Name: price_$, Length: 50000, dtype: int32

In [106]:
autos.loc[autos["price_$"] > 350000, "price_$"].sort_values(ascending = False)

12345678    3
999999      2
11111111    2
1300000     1
10000000    1
1234566     1
999990      1
99999999    1
27322222    1
3890000     1
Name: price_$, dtype: int64

In [104]:
autos.loc[autos["price_$"] < 200, "price_$"].value_counts()

0      1421
150     224
1       156
100     134
50       49
       ...
66        1
117       1
35        1
198       1
122       1
Name: price_$, Length: 67, dtype: int64

In [109]:
autos = autos[(autos["price_$"].between(200, 350000))]

In [111]:
autos["price_$"].describe()

count     47645.000000
mean       6000.707273
std        9110.783444
min         200.000000
25%        1300.000000
50%        3190.000000
75%        7500.000000
max      350000.000000
Name: price_$, dtype: float64

In [112]:
autos["odometer_km"].describe()

count     47645.000000
mean     125887.501312
std       39482.911790
min        5000.000000
25%      125000.000000
50%      150000.000000
75%      150000.000000
max      150000.000000
Name: odometer_km, dtype: float64

In [113]:
autos["odometer_km"].value_counts()

150000    30781
125000     4998
100000     2083
90000      1720
80000      1407
70000      1209
60000      1145
50000      1007
40000       813
30000       773
20000       747
5000        720
10000       242
Name: odometer_km, dtype: int64

In [114]:
autos["date_crawled"].value_counts(normalize = True, dropna = "False")

2016-03-23 19:38:20    0.000063
2016-03-21 20:37:19    0.000063
2016-04-04 16:40:33    0.000063
2016-03-08 10:40:35    0.000063
2016-03-23 18:39:34    0.000063
                         ...
2016-03-15 09:53:35    0.000021
2016-04-01 10:55:56    0.000021
2016-03-05 18:37:41    0.000021
2016-03-23 21:37:21    0.000021
2016-03-14 00:42:12    0.000021
Name: date_crawled, Length: 46029, dtype: float64

In [119]:
autos.loc[:, "date_crawled"] = pd.to_datetime(autos["date_crawled"], format = "%Y-%m-%d %H:%M:%S")

C:\Users\Prashjeev\AppData\Local\Temp\ipykernel_10664\1902668699.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  autos.loc[:, "date_crawled"] = pd.to_datetime(autos["date_crawled"], format = "%Y-%m-%d %H:%M:%S")
C:\Users\Prashjeev\AppData\Local\Temp\ipykernel_10664\1902668699.py:1: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  autos.loc[:, "date_crawled"] = pd.to_datetime(autos["date_crawled"], format = "%Y-%m-%d %H:%M:%S")

In [120]:
autos["date_crawled"].dtype

dtype('<M8[ns]')

In [128]:
autos["date_crawled"].sort_values()

29899   2016-03-05 14:06:30
26440   2016-03-05 14:06:40
12426   2016-03-05 14:07:08
9524    2016-03-05 14:07:21
25599   2016-03-05 14:07:26
                ...
7982    2016-04-07 14:30:09
20941   2016-04-07 14:30:26
4752    2016-04-07 14:36:44
4378    2016-04-07 14:36:55
16947   2016-04-07 14:36:56
Name: date_crawled, Length: 47645, dtype: datetime64[ns]

In [138]:
autos["date_crawled"].value_counts(normalize = True, dropna = False)

2016-03-23 19:38:20    0.000063
2016-03-21 20:37:19    0.000063
2016-04-04 16:40:33    0.000063
2016-03-08 10:40:35    0.000063
2016-03-23 18:39:34    0.000063
                         ...
2016-03-15 09:53:35    0.000021
2016-04-01 10:55:56    0.000021
2016-03-05 18:37:41    0.000021
2016-03-23 21:37:21    0.000021
2016-03-14 00:42:12    0.000021
Name: date_crawled, Length: 46029, dtype: float64

In [130]:
autos["ad_created"].sort_values()

22781    2015-06-11 00:00:00
20649    2015-08-10 00:00:00
34883    2015-09-09 00:00:00
2243     2015-11-10 00:00:00
27986    2015-12-05 00:00:00
                ...
16947    2016-04-07 00:00:00
361      2016-04-07 00:00:00
4719     2016-04-07 00:00:00
48922    2016-04-07 00:00:00
20941    2016-04-07 00:00:00
Name: ad_created, Length: 47645, dtype: object

In [139]:
autos["ad_created"].value_counts(normalize = True, dropna = False)

2016-04-03 00:00:00    0.038976
2016-03-20 00:00:00    0.037884
2016-03-21 00:00:00    0.037570
2016-04-04 00:00:00    0.036919
2016-03-12 00:00:00    0.036688
                         ...
2016-02-01 00:00:00    0.000021
2016-01-22 00:00:00    0.000021
2016-01-29 00:00:00    0.000021
2015-11-10 00:00:00    0.000021
2016-02-16 00:00:00    0.000021
Name: ad_created, Length: 76, dtype: float64

In [135]:
autos["last_seen"].sort_values()

10142    2016-03-05 14:45:46
26924    2016-03-05 14:46:02
30389    2016-03-05 14:49:34
13665    2016-03-05 15:16:11
2469     2016-03-05 15:16:47
                ...
10467    2016-04-07 14:58:48
37578    2016-04-07 14:58:48
36236    2016-04-07 14:58:50
25429    2016-04-07 14:58:50
24225    2016-04-07 14:58:50
Name: last_seen, Length: 47645, dtype: object

In [137]:
autos["last_seen"].value_counts(normalize = True, dropna = False)

2016-04-07 06:17:27    0.000168
2016-04-06 21:17:51    0.000147
2016-04-07 03:16:17    0.000147
2016-04-06 02:17:26    0.000126
2016-04-07 06:46:12    0.000126
                         ...
2016-03-27 12:17:30    0.000021
2016-04-02 07:44:13    0.000021
2016-04-03 06:45:14    0.000021
2016-03-20 14:39:11    0.000021
2016-04-06 21:18:48    0.000021
Name: last_seen, Length: 37809, dtype: float64

In [141]:
autos["registration_year"].describe()

count    47645.000000
mean      2004.800084
std         88.423872
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [144]:
autos = autos[(autos["registration_year"].between(1990, 2016))]

In [146]:
autos["registration_year"].describe()

count    44524.000000
mean      2003.663552
std          5.725676
min       1990.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       2016.000000
Name: registration_year, dtype: float64

In [147]:
autos["registration_year"].value_counts()

2000    3019
2005    2906
1999    2845
2004    2694
2003    2692
2006    2667
2001    2611
2002    2470
1998    2285
2007    2272
2008    2206
2009    2079
1997    1852
2011    1617
2010    1587
2012    1307
1996    1302
2016    1161
1995    1119
2013     797
2014     656
1994     593
1993     406
2015     376
1992     355
1991     330
1990     320
Name: registration_year, dtype: int64

In [164]:
car_brands = autos["brand"].unique()
avg_brand_price = {}

for brand in car_brands:
    avg = autos.loc[autos["brand"] == brand, "price_$"].mean()
    avg_brand_price[brand] = avg

In [169]:
avg_brand_price

{'peugeot': 3136.280291970803,
 'bmw': 8432.704577253648,
 'volkswagen': 5504.283324453916,
 'smart': 3596.40273556231,
 'ford': 3570.939928174992,
 'chrysler': 3420.6455696202534,
 'seat': 4505.462740384615,
 'renault': 2495.751890359168,
 'mercedes_benz': 8632.745269631032,
 'audi': 9486.616393442622,
 'opel': 3055.6102370463605,
 'mazda': 4218.146589259797,
 'porsche': 48971.62295081967,
 'mini': 10716.86600496278,
 'toyota': 5175.651202749141,
 'dacia': 5915.528455284553,
 'nissan': 4854.180897250361,
 'jeep': 11794.64705882353,
 'saab': 3310.402777777778,
 'volvo': 4944.715,
 'mitsubishi': 3489.0887096774195,
 'jaguar': 11663.014925373134,
 'fiat': 2816.03853046595,
 'skoda': 6477.886817576565,
 'subaru': 4239.217391304348,
 'sonstige_autos': 13409.874587458746,
 'kia': 6036.388379204893,
 'citroen': 3692.971518987342,
 'chevrolet': 6178.737068965517,
 'hyundai': 5422.438444924406,
 'honda': 4198.764872521247,
 'daewoo': 1078.235294117647,
 'suzuki': 4282.481060606061,
 'land_rover': 19248.021276595744,
 'alfa_romeo': 3490.923076923077,
 'rover': 1626.9180327868853,
 'trabant': 1987.4545454545455,
 'daihatsu': 1682.6106194690265,
 'lancia': 3470.7391304347825,
 'lada': 2888.409090909091}

In [189]:
autos["brand"].value_counts(normalize = True, ascending = False)

volkswagen        0.210785
bmw               0.112366
opel              0.107066
mercedes_benz     0.094960
audi              0.089053
ford              0.068794
renault           0.047525
peugeot           0.030770
fiat              0.025065
seat              0.018687
skoda             0.016867
nissan            0.015520
mazda             0.015475
smart             0.014779
citroen           0.014195
toyota            0.013072
hyundai           0.010399
mini              0.009051
volvo             0.008984
mitsubishi        0.008355
honda             0.007928
kia               0.007344
sonstige_autos    0.006805
alfa_romeo        0.006424
suzuki            0.005929
porsche           0.005480
chevrolet         0.005211
chrysler          0.003549
dacia             0.002763
daihatsu          0.002538
jeep              0.002291
land_rover        0.002111
subaru            0.002066
saab              0.001617
daewoo            0.001527
jaguar            0.001505
rover             0.001370
lancia            0.001033
lada              0.000494
trabant           0.000247
Name: brand, dtype: float64

In [178]:
brands_by_volume = autos["brand"].value_counts(ascending = False, normalize = True)
brands_more_than_5 = brands_by_volume[brands_by_volume> 0.05]

In [187]:
avg_top_6 = {}
for brand in brands_more_than_5.index:
    avg = autos.loc[autos["brand"] == brand, "price_$"].mean()
    avg_top_6[brand] = avg

In [188]:
avg_top_6

{'volkswagen': 5504.283324453916,
 'bmw': 8432.704577253648,
 'opel': 3055.6102370463605,
 'mercedes_benz': 8632.745269631032,
 'audi': 9486.616393442622,
 'ford': 3570.939928174992}

In [196]:
last_seen_year = autos["last_seen"].str[:4].astype(int)

In [198]:
autos["age"] = last_seen_year-autos["registration_year"]

In [201]:
autos.head()

,date_crawled,name,price_$,abtest,vehicle_type,registration_year,gear_box,power_PS,model,odometer_km,registration_month,fuel_type,brand,unrepaired_damage,ad_created,postal_code,last_seen,age
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,5000,control,bus,2004,manuell,158,andere,150000,3,lpg,peugeot,nein,2016-03-26 00:00:00,79588,2016-04-06 06:45:54,12
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,8500,control,limousine,1997,automatik,286,7er,150000,6,benzin,bmw,nein,2016-04-04 00:00:00,71034,2016-04-06 14:45:08,19
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,8990,test,limousine,2009,manuell,102,golf,70000,7,benzin,volkswagen,nein,2016-03-26 00:00:00,35394,2016-04-06 20:15:37,7
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,4350,control,kleinwagen,2007,automatik,71,fortwo,70000,6,benzin,smart,nein,2016-03-12 00:00:00,33729,2016-03-15 03:16:28,9
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,1350,test,kombi,2003,manuell,0,focus,150000,7,benzin,ford,nein,2016-04-01 00:00:00,39218,2016-04-01 14:38:50,13

In [232]:
autos["age"].describe()

count    44524.000000
mean        12.362524
std          5.671454
min          1.000000
25%          8.000000
50%         12.000000
75%         17.000000
max         26.000000
Name: age, dtype: float64

In [233]:
mileage_top_6 = {}
for brand in brands_more_than_5.index:
    mileage = (autos.loc[autos["brand"] == brand, "odometer_km"]/autos.loc[autos["brand"] == brand, "age"]).mean()
    mileage_top_6[brand] = mileage

In [234]:
mileage_top_6

{'volkswagen': 15235.51594351656,
 'bmw': 14193.346160352086,
 'opel': 15250.579796955317,
 'mercedes_benz': 14040.219858560566,
 'audi': 15128.987963460277,
 'ford': 14577.542015017978}

In [230]:
autos["age"].replace({0: 1}, inplace = True, regex = False)

In [235]:
price_6 = pd.Series(avg_top_6)
mileage_6 = pd.Series(mileage_top_6)

In [242]:
price_mileage_6 = pd.DataFrame(price_6, columns = ["avg_price"])

In [244]:
price_mileage_6["avg_mileage_per_year"] = mileage_6

In [245]:
price_mileage_6

                 avg_price  avg_mileage_per_year
volkswagen     5504.283324          15235.515944
bmw            8432.704577          14193.346160
opel           3055.610237          15250.579797
mercedes_benz  8632.745270          14040.219859
audi           9486.616393          15128.987963
ford           3570.939928          14577.542015

In [246]:
price_mileage_6["mileage_per_price"] = price_mileage_6["avg_mileage_per_year"]/price_mileage_6["avg_price"]

In [247]:
price_mileage_6

                 avg_price  avg_mileage_per_year  mileage_per_price
volkswagen     5504.283324          15235.515944           2.767938
bmw            8432.704577          14193.346160           1.683131
opel           3055.610237          15250.579797           4.991010
mercedes_benz  8632.745270          14040.219859           1.626391
audi           9486.616393          15128.987963           1.594772
ford           3570.939928          14577.542015           4.082270